{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}

{% block body %}
<style>
    html, body {
        height: 100%;
    }

    body {
        margin: 0;
    }

    .flex-container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row {
        width: auto;
    }

    .flex-item {
        line-height: 20px;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }
</style>

<div class="flex-container">
    <div class="row">
        <div class="flex-item">
            <h1>Welcome on Symfony Demos!</h1>

            {% if error is not null %}
                <p>{{ error }}</p>
            {% else %}
                <p>Current public IP is: {{ ip }}</p>
            {% endif %}
            <p></p>
        </div>
    </div>
</div>
{% endblock %}
