{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/_home.css') }}">
{% endblock %}

{% block body %}
<div class="flex-container">
    <div class="row">
        <div class="flex-item">
            <h1>Welcome on Symfony Demos!</h1>
            <p>Today is <span id="today-date"></span></p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/today-date.js') }}" type="text/javascript"></script>
{% endblock %}
